.root {
    width: 1536px;
    height: 960px;
    margin: 0px;
    padding: 0px;
    background-color: #f4feff;
    background: url(./img/photo-back.jpeg) 100% 100% no-repeat;
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 250px 55px 33px;
  box-sizing: border-box;
  overflow: hidden;
 }

#login {
    outline: none;
    width: 25%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  #password {
    outline: none;
    width: 25%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

#button {
    position: relative;
    float: right;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: 1px transparent solid;
    color: #ffffff;
    cursor: pointer;

}

#login #password h3 {
    font-size: 20px;
    font-weight: 700;
} 

#login #password input:focus {
    background: #ffe; /* Цвет фона */
    border: 1px solid #29B0D9; /* Параметры рамки */
  }

  #loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.container {
    width: 35%;
    min-width: 450px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px;
}

#container h3 {
    position: relative;
    text-align: center;
}

#newtask {
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.3);
   
}

#newtask input {
    width: 70%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    border: 2px, solid, #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    box-sizing: initial;
    margin-top: 0px;
    margin-bottom: 0px;
}

#newtask input:focus {
    outline: none;
    border-color: #8052ec;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: 1px transparent solid;
    color: #ffffff;
    cursor: pointer;

}

#newtask #btn-delete button:active
{
  background-color: #00CCC0;
  border: 1px #000000 solid;
}


.tasks {
    /* background-color: #ffffff; */
    padding: 20px 0px;
    margin-top: 0px;
    border-radius: 10px;
    /* box-shadow: 0 15px 30px rgb(0, 0, 0, 0.3); */
    position: relative;
}

.task {
    background-color: #ffffff;
    height: 40px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
    border-radius: 5px;
}

.task.checked {
    background-color: darkgrey;
    opacity: 0.5;
}

.task.delition {
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.btn-complete {
   margin-right: 5px;
}
.btn-delete {
    font-weight: 500;
    height: 30px;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
